


/*Imported Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&display=swap);

/*font-family: 'Righteous', cursive;
font-family: 'Roboto Condensed', sans-serif;*/
/*Nav Link Structure - Make <nav> links horizontal*/



/*Implement these logos for social media icons*/

/*<i class="fa fa-facebook-square" aria-hidden="true" > </i >

<i class="fa fa-twitter-square" aria-hidden="true" > </i >

<i class="fa fa-instagram" aria-hidden="true" > </i >*/


nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
        margin: auto;
    }

/*Navbar Link Styling*/
nav a {
    font-weight: bold;
    color: #384d48;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: #66cdaa;
    padding: 0;
    border-top: 2px dotted #acad94;
    border-bottom: 2px dotted #acad94;
}

nav li:hover {
    background-color: #ffa62b;
}


/*Color Scheme Styling*/

body {
    background-color: #66cdaa;
    background: url(../Images/orangeTechy.jpg) transparent no-repeat center center fixed;
    background-size: cover;
    margin:auto;
}

/* This is an external stylesheet. It is designed for maximum reuse 
    throughout the site and linked in the <head of the HTML page. */


header {
    background-color: #82c0cc;
}

main {
    background-color: #ffa62b;
}

h1 {
    color: #000000;
    font-size: 24px;
    font-family: 'Roboto Condensed', sans-serif;
}

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 20px;
}

/*aside h2 {
    background-color: teal;
    color: lightsalmon;
    text-decoration: none;
}*/

header h1 {
    color: #ff6700;
}

footer {
    font-style: italic;
}

p, li {
    font-family: 'Righteous', cursive;
}


#headerOverlay {
    background-image: url(../images/orangeLedge.jfif);
    background-repeat: no-repeat;
    background-size: 260px;
    background-position: 1% center;
    padding: 2em;
}