


/*Imported Fonts*/
@import url(https://fonts.googleapis.com/css2?family=Righteous&family=Roboto+Condensed&display=swap);

/*font-family: 'Righteous', cursive;
font-family: 'Roboto Condensed', sans-serif;*/
/*Nav Link Structure - Make <nav> links horizontal*/



div#socialMedia span i{
    float: right;
    margin: auto;
}


/*TOP*/
div#topLeftImg img {
    width: 100%
}

article#topHtml {
    width: 98%;
}

div#topLeftImg {
    float: left;
    width: 25%;
}

div#topRightText {
    float: right;
    width: 73%;
}
/*BOTTOM*/
article#bottomHtml {
    width: 98%;
}

div#midLeftImg {
    float: left;
    width: 48%;
    transform:rotate(90deg);
    padding-top: 35px;
}

div#midRightText {
    float: right;
    width: 48%;
}

div#bottomRightImg {
    float: right;
    width: 45%;
    height: auto;
    transform: rotate(90deg);
}

div#bottomLeftText {
    float: left;
    width: 48%;
}

nav ul li {
    display: inline-block;
}

    nav ul li a {
        padding: .4em 1em;
        display: block;
    }

/*Navbar Link Styling*/
nav a {
    font-weight: bold;
    color: #384d48;
}

    nav a:hover, nav a:active, nav a:focus {
        text-decoration: none;
    }

nav ul {
    background-color: rgb(130,192,204);
    padding: 0;
    border-top: 2px dotted #acad94;
    border-bottom: 2px dotted #acad94;
}

nav li:hover {
    background-color: #ffa62b;
}


/*Color Scheme Styling*/

body {
    background-color: #66cdaa;
    background: url(../Images/orangeTechy.jpg) transparent no-repeat center center fixed;
    background-size: cover;
    margin: auto;
}

/* This is an external stylesheet. It is designed for maximum reuse 
    throughout the site and linked in the <head of the HTML page. */


header {
    background-color: #82c0cc;
}

main {
    background-color: #ffa62b;
}

h1 {
    color: #000000;
    font-family: 'Roboto Condensed', sans-serif;
    font-size: 4em;
    text-align: center;
    margin: 5px auto;
    
    /*padding: -30px;*/
}

    

h2 {
    text-decoration: underline;
    font-weight: bold;
    font-size: 35px;
    text-align: left;
}


/*h3 {

}*/

/*aside h2 {
    background-color: teal;
    color: lightsalmon;
    text-decoration: none;
}*/

header h3 {
    color: #ff6700;
    font-size: 25px;
}

footer {
    font-style: italic;
    padding: 4em 1em;
    display: block;
}

p, li {
    font-family: 'Righteous', cursive;
}


#headerOverlay {
    background-image: url(../images/orangeLedge.jfif);
    background-repeat: no-repeat;
    background-size: 260px;
    background-position: 1% center;
    padding: 2em;
}

#clear {
    clear: both;
}

div.galleryItem {
    margin: 5px;
    border: 1px solid #ccc;
    display: inline-block;
    width: 350px;
}

    div.galleryItem:hover {
        border: 1px solid lemonchiffon;
    }

    div.galleryItem img {
        width: 100%;
        /*height: auto;*/
    }

    div.galleryItem a:hover {
        background-color: lemonchiffon;
    }

#imageGallery {
    margin: 0 auto;
    width: 85%;
    text-align: center;
}


table, tr, td, th {
    border: 1px solid black;
    border-collapse: collapse;
    text-align: center;
}

table {
    margin:auto;
    margin-bottom: 2em;
}

th {
    font-weight: bold;
    text-align: center;
}

td, th {
    padding: .3em;
}

thead {
    background-color:aqua;
    text-align: center;
}


/*Aside Styling*/
aside {
    width: 30%;
    padding-left: 15px;
    margin-left: 15px;
    float: right;
    font-style: italic;
    background-color: lightgray;
}
